body{
    background-color: #f4f6f9;
}

input[type="email"], input[type="password"]{
    border-radius: 5px;
    border: 1px solid #ccc;
}
.btn-primary{
    background-color: palevioletred;
    border-color: palevioletred;
}
.btn-primary{
    background-color:pink;
    border: color pink;
}
